---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main>
    <h1>
      Please get in touch so we can discuss your ideas and how I can help
      deliver your vision. You can email me at <a
        href="mailto:whimsybynada@gmail.com?subject=New%20content%20request"
      >
        whimsybynada@gmail.com
      </a>
      or fill out the contact from below:
    </h1>

    <Form client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color:;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
