---
import { VideoRender } from "../components/VideoRender";
import { LANDING_PAGE_SUBTITLE, LANDING_PAGE_TITLE } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome Whimsy.">
  <main>
    <h1>{LANDING_PAGE_TITLE}</h1>
    <h2>
      {LANDING_PAGE_SUBTITLE}
    </h2>
    <div class="video-container">
      <VideoRender client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: #231f20;
    font-size: 20px;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    padding: 0;
    @media (max-width: 1000px) {
      grid-template-columns: none;
    }
    .video-box {
      display: grid;
      justify-content: center;
      margin-top: 10px;
    }
    .video {
      width: 250px;
      height: 250px;
      border: 3px solid #231f20;
      border-radius: 10%;
    }
  }
</style>
