---
import { VideoRender } from "../components/VideoRender";
import { LANDING_PAGE_SUBTITLE, LANDING_PAGE_TITLE } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome Whimsy.">
  <main>
    <h1>{LANDING_PAGE_TITLE}</h1>
    <h2>
      {LANDING_PAGE_SUBTITLE}
    </h2>
    <div class="video-container">
      <VideoRender client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: #231f20;
    font-size: 20px;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .video-container {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    .video-box {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
    .video {
      width: 250px;
      height: 250px;
      border: 3px solid #231f20;
      border-radius: 10%;
      @media (max-width: 913px) {
        width: 100%;
        height: 100%;
      }
    }
    .video-title {
      width: max-content;
      font-size: 26px;
      margin-bottom: 10px;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
</style>
