---
import Layout from "../layouts/Layout.astro";
import VideoPlayer from "../components/VideoPlayer";
---

<Layout title="Welcome Whimsy.">
  <main>
    <h1>Welcome to Whimsy</h1>
    <p class="subtitle">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <div class="video-container">
      <VideoPlayer
        src="https://drive.google.com/file/d/1RMxH7A_a7Q4PTPWrrkBjyrDNEe7xGXe_/view?usp=sharing"
        poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217"
      />
      <VideoPlayer
        src=`${import.meta.env.PUBLIC_MY_DOMAIN}/whimsy-site/src/assets/first-date-question.mp4`
        poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217"
      />
      <VideoPlayer
        src=`${import.meta.env.PUBLIC_MY_DOMAIN}/whimsy-site/src/assets/first-date-question.mp4`
        poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: #231f20;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    @media (max-width: 925px) {
      grid-template-columns: none;
      justify-content: center;
    }
    .video {
      display: grid;
      place-items: center;
      width: 300px;
      height: 300px;
      border: 3px solid #231f20;
      border-radius: 10%;
    }
  }
  .subtitle {
    text-align: center;
  }
</style>
